# THEORY

1.**What are data structures, and why are they important?**
- Data structures are the way of organising and storing of data in computer so it can be accesed and use efficiently.
->importance: - (EFFICIENCY)- different data structure allow you to perform task(like inserting,deleting,searching data).it makes you program to run fast and work efficiently.
- (ORGANIZE DATA)-by organizing data properly which help to manage and run faster.

2.**Explain the difference between mutable and immutable data types with examples?**

- MUTABLE DATA TYPE- mutable data are changeable after creating.like you can add,remove,update data after creating also.example:-lists,dictionaries,sets.

- IMMUTABLE DATA TYPE- immutable means unchangeable here you cant modify or change the data once you have created like tuples & strings

3.**what are the main differences between lists and tuples in Python?**
- Main diiference between lists and python are:
>  lists are mutable and tuples are immutable.

   > lists uses syntax [ ]  and tuples uses syntax ( )

   > lists are use when data may modified and tuples are used when data is fixed and no need for further modification.

4.**Describe how dictionaries store data?**
- usually it stores in form of keys:values.
- How Dictionaries Work:
Key: The unique identifier that you use to access a value. Keys must be immutable (e.g., strings, numbers, or tuples).
Value: The data that is associated with a key. Values can be of any data type (e.g., numbers, lists, other dictionaries).

5.**Why might you use a set instead of a list in Python?**
- uniqueness: sets will eliminate the duplicate element in the program.its will ensure that all the elements are unique.But in lists are not same.
- faster than the list in comparison of fastlookup.
- sets have powerful mathematical operation than lists.

6.**What is a string in Python, and how is it different from a list?**

- string in python is a sequence of characters which encloses with single quotes (') and double quotes (").
- its only stores text like it could be word,sentence.But list can store string,integers or any other data type.
- string are immutable but list are mutable

```

7. **How do tuples ensure data integrity in Python?**
- In the terms of immutability.

*   tuples are not changeble after creation.
*   its very safe for storing important data like configuration,employee id,id proof,etc.
-  it prevent accidental change.

8. **What is a hash table, and how does it relate to dictionaries in Python?**
- A hash table is a data structure that allows for efficient data retrieval based on a key. It uses a hash function to compute an index (called a hash value) where the corresponding value is stored. The primary purpose of a hash table is to enable fast lookups and insertions.

9. **Can lists contain different data types in Python?**
- Yes, lists in Python can contain different data types. Unlike other languages that require lists (or arrays) to contain only elements of the same type, Python lists are heterogeneous. This means that a list can store elements of any data type, including integers, strings, floating-point numbers, other lists, dictionaries, or even custom objects.

10. **Explain why strings are immutable in Python?**
- Strings in Python are **immutable** because once created, their value cannot be changed. This provides **efficiency** (by reusing memory for identical strings), **safety** (preventing accidental changes), and **predictability** (ensuring string values stay constant). Immutability also makes strings usable as keys in dictionaries and helps Python optimize memory usage.

11. **What advantages do dictionaries offer over lists for certain tasks?**
- Here are the advantages of **dictionaries** over **lists** in short points:

1. **Fast Lookups**: Dictionaries allow fast **O(1)** access to values using keys, while lists require **O(n)** time to search for an element.
   
2. **Key-Value Pairs**: Dictionaries store data as **key-value pairs**, ideal for mapping related data (e.g., names to ages).

3. **Efficient Updates**: You can quickly update values by key in a dictionary, whereas lists require finding the index first.

4. **No Duplicates**: Dictionaries ensure unique keys, preventing duplicate entries, while lists allow duplicates.

5. **Non-Sequential Data**: Dictionaries are better for unordered data, whereas lists are suited for ordered sequences.

12. **Describe a scenario where using a tuple would be preferable over a list?**
- A tuple would be preferable over a list when you need to store a collection of immutable data that should not change throughout the program. For example:

Scenario:
If you're representing coordinates of a point in a 2D space, like (x, y), a tuple is ideal because:

The coordinates should remain constant (immutable).
Tuples provide faster performance and use less memory than lists.

13.**How do sets handle duplicate values in Python?**
- it overwrite the existing data or you can say it elements the duplicate data

14. **How does the “in” keyword work differently for lists and dictionaries?**
- For lists: The in keyword checks if a value is present in the list.
  > if value present it returns True otherwise false
- For dictionaries: The in keyword checks if a key is present in the dictionary.
 > if key present it returns True otherwise false

15. **Can you modify the elements of a tuple? Explain why or why not?**
- No, you cannot modify the elements of a tuple in Python because tuples are immutable. Once a tuple is created, its content cannot be changed.

16. **What is a nested dictionary, and give an example of its use case?**
- A nested dictionary is a dictionary in Python where the values themselves are dictionaries. In other words, a dictionary can contain other dictionaries as values, allowing for the representation of more complex data structures.

17. **Describe the time complexity of accessing elements in a dictionary?**
- In Python,dictionaries are really fast and the value can be find by the key.Which reduces the time consumptions.This is called O(1), which means constant time.

18. **In what situations are lists preferred over dictionaries?**
- List is better in terms of: when you need to mantain order of elements or work with sequence.
-when you need to find the data by the required index list allows you,But dictionaries doesn't allows it.
-its helps to store duplicate data with the same value but dictionaries will not.

19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**
- Dictionaries are considered unordered because they use a hash table to store key-value pairs, where the order of insertion is not guaranteed (before Python 3.7). The focus is on efficient data retrieval based on keys, not order.



**Impact: You can quickly retrieve values using keys, but relying on order for tasks like iteration is not recommended

20. **Explain the difference between a list and a dictionary in terms of data retrieval.?**
- The key difference between a *list and a *dictionary in terms of data retrieval is:

- *List: Data is accessed using an *index (position), and elements are ordered. Retrieval is **O(1)** for direct index access.

- *Dictionary: Data is accessed using a *key, and it uses *hashing for fast retrieval. Retrieval is **O(1)** for direct key access (average case).

 - Summary:
- **List**: Access by position (index).
- **Dictionary**: Access by key.

#PRACTICAL

1.**Write a code to create a string with your name and print it?**

In [1]:
name=("sahensa")
print(name)

sahensa

2.**Write a code to find the length of the string "Hello World?**

In [2]:
len("hello world")

11

3.**Write a code to slice the first 3 characters from the string "Python Programming"?**

In [9]:
text=("python programming")
first_3char=(text[0:4])
print(first_3char)

pyth

4.**Write a code to convert the string "hello" to uppercase?**

In [21]:
text2=("hello")
text2.upper()

'HELLO'

5.**Write a code to replace the word "apple" with "orange" in the string "I like apple?**

In [30]:
word=("apple")
word.replace(word,("orange"))

'orange'

6.**Write a code to create a list with numbers 1 to 5 and print it?**

In [40]:
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

7.**Write a code to append the number 10 to the list [1, 2, 3, 4]?**

In [42]:
num=[1,2,3,4]
num.append(10)
num

[1, 2, 3, 4, 10]

8.**Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?**

In [44]:
num=[1,2,3,4,5]
num.remove(5)
num

[1, 2, 3, 4]

9.**Write a code to access the second element in the list ['a', 'b', 'c', 'd']?**

In [45]:
element=['a','b','c','d']
element[1]

'b'

10.**Write a code to reverse the list [10, 20, 30, 40, 50].?**

In [46]:
num2=[10,20,30,40,50]
num2[::-1]

[50, 40, 30, 20, 10]

11.**. Write a code to create a tuple with the elements 100, 200, 300 and print it?**

In [47]:
NUM=(100,200,300)
print(NUM)

(100, 200, 300)

12.**. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [48]:
elem=('red','green','blue','yellow')
elem[1:4]

('green', 'blue', 'yellow')

13.**Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [59]:
num=(10,20,5,15)
minimum_number= min(num)
print(minimum_number)

5

14.**Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [60]:
words=("dog","cat","rabbit")
words.index("cat")

1

15.**Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [63]:
fruits=["mango","apple","kiwi"]
if "kiwi" in fruits:
  print("true")
else:
  print("false")

true

16.**Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [65]:
set1={'a','b','c'}
print(set1)

{'a', 'b', 'c'}

17.**Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [69]:
num={1,2,3,4,5}
del num

18.**Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [79]:
num1={1,2,3,4}
num1.remove(4)
num1

{1, 2, 3}

19.**Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [85]:
set1={1,2,3}
set2={3,4,5}
print((set1.union(set2)))

{1, 2, 3, 4, 5}

20.**Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [94]:
set1={1,2,3}
set2={2,3,4}
set1 & set2              #both can be used
#or
set1.intersection(set2)

{2, 3}

21.**Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [95]:
biodata={"name":"alok","age":"27","city":"bihar"}
print(biodata)

{'name': 'alok', 'age': '27', 'city': 'bihar'}

22.**. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [104]:
example={"name":"John","age":"25"}
example.update({"country":"USA"})
print(example)

{'name': 'John', 'age': '25', 'country': 'USA'}

23.**Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [107]:
values={'name':'Alice','age':'30'}
values['name']

'Alice'

24.**Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [119]:
dict2={'name':'Bob','age':'22','city':'New York'}
dict2.pop('age')
dict2

{'name': 'Bob', 'city': 'New York'}

25.**Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [121]:
bio={'name':'Alice','city':'Paris'}
if ('city') in bio:
  print('true')
else:
  print('false')

true

26.**Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [122]:
lists=[1,2,3,[5,6,7],{'helo','hi'},(0,0,0)]
print(lists)

[1, 2, 3, [5, 6, 7], {'hi', 'helo'}, (0, 0, 0)]

27.**Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced).**

In [132]:
lists=[45,12,10,65,99]
sorted_list= sorted(lists)
print(sorted_list)

[10, 12, 45, 65, 99]

28.**Write a code to create a list with strings and print the element at the third index.**

In [136]:
lists=['first','second','third','fourth']
lists[3]

'fourth'

29.**Write a code to combine two dictionaries into one and print the result.**

In [149]:
dict1={"hello"}
dict2={"world!"}
combine=dict1 | (dict2)        # this syntax '|' means union
print(combine)

{'hello', 'world!'}

30.**Write a code to convert a list of strings into a set.**

In [150]:
my_list=["apple","banana","grapes","papaya"]
coverted=set(my_list)
print(coverted)

{'apple', 'banana', 'papaya', 'grapes'}